google-api-python-client
google-auth
google-auth-oauthlib
pandas
rapidfuzz
geopy>=2.4.0
numpy>=1.25
matplotlib>=3.8
fuzzywuzzy[speedup]>=0.18
geopandas
shapely
pyproj
folium
tqdm
openpyxl
pyyaml
pyarrow
pymc
arviz